<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>一元购</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>

  <?php include './public/index/index.html'; ?>

    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎进入<font color="red">《个人博客管理中心》</font>腾讯博客</span></div>
        </div>
        
        <div class="result-wrap">
            
            <div class="result-content">	
                <ul class="sys-info-list">
                <li><img src="./img/5.jpg" alt=""  height="400px" width="1200px">
                  <!-- <img src="./img/1.png" alt="" height="500px" width="1200px"></li>  -->
                   <li></li>
                </ul>
            </div>
        </div>
 <div class="result-wrap">
            <div class="result-title">
                <h1>使用帮助</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">官方交流网站：</label><span class="res-info"><a href="http://www.bwie.net/" target="_blank">腾讯博客</a></span>
                    </li>
                    <span id="hzy_fast_login"></span>
                </ul>
            </div>
        </div>
    </div>
    <!--/main-->
 
</div>
</body>
</html>





