<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="http://localhost/xiao/tpp/Public/css/slick.css" />
		<link rel="stylesheet" type="text/css" href="http://localhost/xiao/tpp/Public/css/base.css" />
		<link rel="stylesheet" type="text/css" href="http://localhost/xiao/tpp/Public/css/style.css" />
		<link rel="stylesheet" type="text/css" href="http://localhost/xiao/tpp/Public/css/iconfont/iconfont.css" />
		<title>我要提问</title>

		<body>
			<div class="header">
				<span>我要提问</span>
				<a href="ask.html" class="back"><i class="iconfont icon-left"></i></a>
			</div>
			<div class="banner">
				<img src="http://localhost/xiao/tpp/Public/img/self-report.png">
			</div>
			<div class="contain"  style="padding-top:3%;">
				 <div class="reason">	
				<textarea  placeholder="请您在此输入您的申请原因，以便通过审核"></textarea>
			</div>
			</div>
			<script src="http://localhost/xiao/tpp/Public/js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="http://localhost/xiao/tpp/Public/js/basic.js"></script>
			<script type="text/javascript" src="http://localhost/xiao/tpp/Public/js/rem.js"></script>
		</body>

</html>